body {
    font-family: Arial, sans-serif;
    text-align: left;
    background-color: lightgrey;
  }
  #countdown {
    font-size: 2em;
  }
h1{
    text-align: left;
    font-size: 50px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}